# My Jupyter Notebook on IBM Watson Studio

**Tyson** <br>
Chief of Operations

*I am interested in data science because I want to be able to gather, process, and analyze large amounts of data to determine market trends. This skill will benefit both my curent position and my future endeavors assisting with researching education and remote job opportunities in rural areas.*

### My code, located in cell number 5, will execute the multiplication of 12 by 12.

In [5]:
12*12

144



1. Numbered Item 1
2. Numbered Item 2
3. Numbered Item 3

- List Item 1
- List Item 2
- List Item 3

[Link to YouTube](https://www.youtube.com)

~~STRIKETHROUGH~~

![Picture of a Platypus](https://www.thoughtco.com/thmb/J6_Z1nLDnBZSyi6fs1qLwq38voo=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-635477020-14202280a8714a179f5850decf0d254e.jpg)